* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'titulo';
    src: url(fonts/BebasNeue-Regular.ttf);
}

body {
    background-image: url(img/fundo-minimalista.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container h2 {
    font-family:'titulo';
    color: white;
    font-size: 5em;
}

.colunas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center; /* Centraliza as colunas */
}

.quadro, .quadro2 {
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.quadro a, .quadro2 a {
    text-decoration: none;
}

button {
    display: flex;
    justify-content: center;
    color: rgb(235, 235, 235);
    align-items: center;
    text-align: center;
    font-size: 1em; /* Ajuste o tamanho da fonte */
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 70px;
    padding: 10px;
    margin: 12px;
    background-color: #022c80;
    filter: drop-shadow(0.1em 0.2em 0.3em #00000073);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    white-space: nowrap; /* Impede a quebra de linha no texto do botão */
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Responsividade para telas menores */
@media (max-width: 511px) {
    .colunas {
        flex-direction: column;
        align-items: center; /* Centraliza as colunas */
    }
    
    .quadro, .quadro2 {
        flex: 1 1 100%;
        margin: 5px 0;
    }
    
    button {
        font-size: 0.9em; /* Ajuste o tamanho da fonte para telas menores */
        height: auto; /* Permite que a altura do botão se ajuste conforme o conteúdo */
    }
}

@media (min-width:512px) and (max-width:1023px) {

    .colunas {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* flex-wrap: wrap; */
    }
    
    .quadro, .quadro2 {
        flex: 1 1 calc(50% - 20px); /* Duas colunas, considerando o espaçamento */
    }

    button {
        font-size: 0.9em; /* Ajuste o tamanho da fonte para telas menores */
        height: auto;
    }

}

@media (min-width: 1024px) {
    .colunas {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* flex-wrap: wrap; */
    }
    
    .quadro, .quadro2 {
        flex: 1 1 calc(50% - 20px); 
    }

    button {
        font-size: 1.05em; /* Ajuste o tamanho da fonte para telas menores */
    }
}
